apiVersion: v1
kind: Service
metadata:
  name: go-web-app
  labels:
    app: go-web-app
spec:
  type: NodePort        # NodePort Service
  selector:
    app: go-web-app
  ports:
    - port: 80          
      targetPort: 8080  
      protocol: TCP
      nodePort: 30080   
